body {
  background-color: darkgreen;
}

#logo {
  margin-top: 10px;
}

.vision {
  background-color: white;
}
#vision-statement{
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}
#mission-statement{
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  padding-left: 15px;
  padding-right: 15px;
}
#core-values{
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}
#vision-header {
  background-color: red;
  margin-top: 5px;
  text-align: center;
  color: white;
  font-size: 40px;
  font-weight: 700;
  font-family: 'Times New Roman', Times, serif;
}

p {
  text-align: center;
  font-size: 30px;
  padding: 10px;
}

.footer {
  height: 10px;
  margin-top: 15px;
  margin-bottom: 10px;
  background-color: red;
}

.footer2 {
  height: 10px;
  margin-top: -12px;
  margin-bottom: 10px;
  background-color: red;
}

.form-input {
  border-radius: 22px;
  margin-bottom: 8px;
}

.append {
  width: 100px;
}

#form-style-name {
  background-color: red;
  color: white;
  font-size: 16px;
  border-top-left-radius: 30px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

#form-style {
  background-color: red;
  color: white;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

#form-style-last {
  background-color: red;
  color: white;
  font-size: 16px;
  border-bottom-left-radius: 30px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  height: 110px;
}

#form-input-style-last {
  border-bottom-right-radius: 30px;
  border-color: red;
  border-top-left-radius: 4px;
  margin-left: 3px;
  border-bottom-left-radius: 4px;
  color: black;

}

#form-input-style {
  border-color: red;
  color: black;
  border-top-left-radius: 4px;
  margin-left: 3px;
  border-bottom-left-radius: 4px;
}

#form-input-style-name {
  border-top-right-radius: 30px;
  border-color: red;
  color: black;
  border-top-left-radius: 4px;
  margin-left: 3px;
  border-bottom-left-radius: 4px;
}

.contact {
  font-size: 30px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

#contact-form {
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}

img {
  max-width: 100%
}

#submit-button {
  background-color: red;
  color: white;
  font-size: 20px;
  font-weight: 500;
  border-radius: 15px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 30px;

}
#social-icons{
  width: 2em;
}
#we-social{
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color: red;
  line-height: 20px;
  padding-left: 5%;
  
}
.line{
  border-right: 4px red solid;
  margin-left: 50px;
  height: 70px;
}
#logo-contain{
  margin-bottom: 20px;
}
.footer-bottom{
  background-color: red;
  color: white;
  height: 35px;
  padding-top: 3px;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  text-align: center;
}
